[user]
	name = fernando
	email = ferpb1999@gmail.com
	username = ferpb
[core]
	editor = vim
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
