global !p
from snippet_helpers import *
endglobal

snippet fmatter
---
title: ${1:Mi título}
date: ${2:`date +%Y/%m/%d`}
tags: $3
---

# $1
$0
endsnippet

snippet 75wrds "Loag a 750words.com session" bA
750words.com: ${1:750} words in ${2:20} minutes - `!p
snip.rv = fraction(t[1], t[2])
` wpm
endsnippet
