# Emacs

## Files
.lsp-session*
.org-id-locations
bookmarks
ido.last
places
recentf
tramp
smex-items
.dap-breakpoints
amx-items

## Directories
games
elpa
backups
auto-save-list
url
eshell
transient
.cache